div#body{
    display:absolute;
    display:flex;

    justify-content: center;
    align-items: center;
    margin-top: 70px;

    width: 600px;
}
 div#margen{
    display:absolute;
    display:flex;
    margin-left: 30%;
    border-color: blue;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    width: 600px;

}
div#titulo{
margin-left: 250px;
}

input#email{
    width: 500px;
    height: 30px;
    border-radius: 9px;
    border-color: blue;
}
input#password{
    width: 500px;
    height: 30px;
    border-radius: 9px;
    border-color: blue;
}
button{
    background-color: rgba(50, 178, 238, 0.993);
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 42%;

}
a#recup{
    margin-top: 30px;
    margin-left: 35%;

}
